<?xml version="1.0"?>
<model>
  <name>cornflakes-box</name>
  <version>1.0</version>
  <sdf>model.urdf</sdf>
  <author>
    <name>Jan Winkler</name>
    <email>winkler@cs.uni-bremen.de</email>
  </author>
  <description>
    A cornflakes box.
    URDF must be generated before first use and after any changes to the XML via `rospack find xacro`/xacro.py model.urdf.xml > model.urdf
  </description>
</model>
